*.iml
.gradle
/local.properties
/.idea/gradle.xml
/.idea/misc.xm
/.idea/deploymentTargetDropDown.xml
/.idea/inspectionProfiles/
/.idea/saveactions_settings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
